#home {
    width: 100%;
    min-height: calc(100vh - 96px);

    display: flex;
    position: relative;
    padding: 0px 8%;
}
#left_section {
    width: 50%;
    display: flex;
    align-items: center;
}
#right_section {
    padding-top: 14em;
}
.conteudo {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 70%;
    margin-top: 5em;
}
.conteudo h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #1d1d1d;
}
.conteudo span {
    color: #e9a209;
}
.conteudo p {
    font-size: 18px;
    color: #1d1d1dad;
    font-weight: 500;
}

.btns-container {
    display: flex;
    gap: 20px;
}
#cardapio_btn {
    text-decoration: none;
    text-align: center;
    color: #1d1d1dad;
    font-weight: 600;
    background-color: #e9a209;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#cardapio_btn:hover {
   background-color: #fac44f;
}
.telephone-div {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    font-weight: 600;
    color: #1d1d1dad;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#telephone {
    color: #1d1d1dad;
    background-color: #e9a209;
    font-size: 14px;
    padding: 4px 8px ;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s ease;
}
#telephone:hover {
    background-color: #fac44f;
}
.midia-icons-container {
    display: flex;
    height: 40px;
    gap: 15px;
}
.midia-icons {
    padding: 7px 12px;
    background-color: #fff;
    color: #1d1d1dad;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* RIGTH SECTION */

#right_section { 
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#right_section img{
    z-index: 5;
    width: 700px;
}
.background {
    width: 50%;
    height: 100%;
    background-color: #ffe8b4;
    position: absolute;
    border-radius: 40% 30% 0 20%;
    top: 0;
    right: 0;
}
@media screen and (max-width: 1300px){
    #right_section {
        padding-top: 10em;
    }
}
@media screen and (max-width: 1170px){
    .btns-container {
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    .conteudo h1{
        font-size: 3em;
    }
    .conteudo p {
        font-size: 16px;
    }
}
@media screen and (max-width: 1030px){
    #right_section img,
    .background,
    #right_section {
        display: none;
    }
    .conteudo h1 {
        font-size: 4em;
    }
    #left_section,
    .conteudo {
        width: 100%;
    }
    .conteudo {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        padding: 0px 13%;
    }
    .btns-container {
        width: 40%;
        min-width: 215px;
    }
}
@media screen and (max-width: 500px) {
    #home {
        min-height: calc(100vh - 1px);
    }
    .conteudo {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 0px;
    }
    .conteudo h1 {
        font-size: 2.5em;
    }
    .midia-icons-container {
        display: flex;
        align-self: center;
    }
}
@media screen and (max-width: 365px) {
    #home {
        margin-top: 3em;
        padding: 3em 2% 0px 2%;
    }
}